<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <form action="/team_name_url/" method="post">
          <label for="address_line1">Enter address line 1: </label>
          <label for="address_line2">Enter address line 2 (optional): </label>
          <label for="address_city">Enter address city: </label>
          <label for="address_state">Enter address state: </label>
          <label for="address_zip">Enter address zip code: </label>
          <input id="team_name" type="text" name="name_field" value="Default name for team.">
          <input type="submit" value="OK">
        </form>
        <a href='https://docs.lob.com/#tag/US-Verifications' target='_blank'>
          <h4>https://docs.lob.com/#tag/US-Verifications</h4>
        </a>
        <p><strong>Single US Address Verification</strong> <pre><%- JSON.stringify(singleVerify, null, 2) %></pre></p>
        <p><strong>Bulk US Address Verification</strong> <pre><%- JSON.stringify(bulkVerify, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>