<!doctype html>
<html>
  <%- include('shared/head') -%>
  <body>
    <%- include('shared/nav') -%>
    <div class='core-content'>
      <div class='body-wrapper'>
        <div class='body-content'>
            <hr>
            <h4>PLACEHOLDER 1:</h2>
            <pre>
              <code class='language-javascript'>
                <p> TEST PLACEHOLDER </p>
              </code>
            </pre>
            <hr>
            <h4>PLACEHOLDER 2:</h2>
            <pre>
              <code class='language-javascript'>
                <p> TEST PLACEHOLDER </p>
              </code>
            </pre>
            <hr>
            <h4>PLACEHOLDER 3:</h2>
            <pre>
              <code class='language-javascript'>
                <p> TEST PLACEHOLDER </p>
              </code>
            </pre>
        </div>
      </div>
    </div>
  </body>
</html>

