<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <div class='body-wrapper'>
      <div class='body-content'>
        <a href='https://docs.lob.com/#tag/US-Autocompletions' target='_blank'>
          <h4>https://docs.lob.com/#tag/US-Autocompletions</h4>
        </a>
        <p><strong>US Address Autocompletions</strong> <pre><%- JSON.stringify(autocompleted, null, 2) %></pre></p>
      </div>
    </div>
  </div>
</body>

</html>